<div class="nav-item" (click)="toggleExpanded()">
  <fa-icon [icon]="faListOl" class="nav-item-icon"></fa-icon>
  <div style="flex: 1 1 auto; user-select: none">Samples</div>
  <fa-icon [icon]="faAngleRight" style="justify-self: flex-end;" *ngIf="!isExpanded; else isExpandedIcon"></fa-icon>
  <ng-template #isExpandedIcon>
    <fa-icon [icon]="faAngleUp"></fa-icon>
  </ng-template>
</div>

<div class="nav-item nav-item-action" *ngIf="isExpanded" (click)="navigate(['samples', 'auth'])">
  <fa-icon [icon]="faCircle" style="padding-left: 20px;" class="nav-item-icon"></fa-icon>
  <div>Firebase Auth</div>
</div>

<div class="nav-item nav-item-action" *ngIf="isExpanded" (click)="navigate(['samples', 'auth'])">
  <fa-icon [icon]="faCircle" style="padding-left: 20px;" class="nav-item-icon"></fa-icon>
  <div>Firebase Store</div>
</div>

<div class="nav-item nav-item-action" *ngIf="isExpanded" (click)="navigate(['samples', 'todos'])">
  <fa-icon [icon]="faCircle" style="padding-left: 20px;" class="nav-item-icon"></fa-icon>
  <div>Ngxs Todos</div>
</div>

