
<h2 style="width: 320px; text-align: center">Participants</h2>

<div *ngIf="data$ | async as data; else loading">
  <mat-card *ngFor="let participant of data.participants"
      (click)="onClickParticipant(data, participant)"
      [ngClass]="{done: participant.isFinished}">
    <mat-card-title>{{participant.name}}<span *ngIf="participant.record" style="float: right; font-size: 0.75em">{{participant.record}}</span></mat-card-title>
    <mat-card-subtitle *ngIf="participant.subtitle !== null">
      {{participant.subtitle}}
    </mat-card-subtitle>
    <mat-card-content *ngIf="participant.content !== null"
      [ngClass]="{placed: participant.isPlaced, notPlaced: participant.isNotPlaced}">
      {{participant.content}}
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
