<p>tournament-participants works!</p>

<div *ngIf="data$ | async as data; else loading">
  <mat-card *ngFor="let participant of data.participants"
    (click)="onClickParticipant(data, participant)">
    <mat-card-title>{{participant.name}}</mat-card-title>
  </mat-card>
</div>

<h2>Sample Rows for formatting</h2>

<mat-card>
  <mat-card-title>Bill Polka</mat-card-title>
  <mat-card-subtitle>8th Place</mat-card-subtitle>
</mat-card>

<mat-card>
  <mat-card-title>Jason Goemaat</mat-card-title>
  <mat-card-subtitle>Matches: 4-1, Games: 9-3<br/>Next Match: 09:30 am</mat-card-subtitle>
</mat-card>

<mat-card>
  <mat-card-title>Jason Goemaat</mat-card-title>
  <mat-card-content>Record: 4-1, Games: 9-3<br/>Next Match: 09:30 am vs. Brent Kolk</mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Jason Goemaat</mat-card-title>
  <mat-card-content>Yet to play<br/>Next Match: 09:30 am vs. Brent Kolk</mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Jason Goemaat</mat-card-title>
  <mat-card-subtitle>4-1, Games: 9-3</mat-card-subtitle>
  <mat-card-content>Next Match: 09:30 am vs. Brent Kolk</mat-card-content>
</mat-card>


<ng-template #loading><h1 class="loading">Loading</h1></ng-template>