@use "../../../_variables" as *;

fa-icon {
  margin-right: 5px;
  color: red;
}

mat-card {
  mat-card-content {
    &.placed {
      font-weight: bold;
      color: green;
      text-align: center;
    }

    &.notPlaced {
      text-align: center;
    }
  }
}
