<div class="container" *ngIf="data$ | async as data">
  <div 
    *ngFor="let spot of data.vm.spotList; let i = index"
    [style.grid-area]="spot.config.gridArea"
    [style.border-bottom]="getBorderBottom(spot.config)"
    [style.border-right]="getBorderRight(spot.config)"
    [hidden]="spot.config.isHidden"
  >
    <div
      (click)="onSpotClick(data, spot, $event)"
      class="name"
      [ngClass]="{ winner: spot.isWinner, loser: spot.isLoser, bold: spot.isBold, italic: spot.isItalic, 'focus': focus[spot.index], 'next-match': spot.isNext }"
      matTooltip="{{getTooltip(data, spot)}}"
      [matTooltipClass]="{ 'multiline-tooltip': true }">
      {{spot.text}}
    </div>
    <div class="text">{{spot.matchName}}</div>
  </div>

  <div *ngFor="let text of data.vm.config.texts; let i = index" [style.grid-area]="text.gridArea" style="border: 0; text-align: center; font-weight: bold; font-style: italic;">
    {{text.text}}
  </div>
</div>

<app-facebook-comments *ngIf="data$ | async as data"></app-facebook-comments>
