:host {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 280px;
  background-color: #101830;
  color: white;

  .centered {
    text-align: center;
  }

  .title {
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
  }

  .text1 {
    color: white;
  }
}