<div *ngIf="data$ | async as data; else loading">
  <h2 style="width: 320px; text-align: center">{{data.participant.name}}</h2>

  <div *ngIf="data.role === 'admin'" class="centered-buttons">
    <mat-slide-toggle
      [checked]="data.participant.hasPaid"
      (change)="togglePaid(data, $event)">Paid</mat-slide-toggle>
  </div>

  <mat-card *ngIf="data.participant.nextMatch as match; else noMatches" style="margin-bottom: 20px">
    <mat-card-title>Next Match {{data.participant.nextMatch.matchConfig.name}} @ {{data.participant.nextMatch.timeString}}</mat-card-title>
    <mat-card-content>{{data.gridModel.nextOpponents}}</mat-card-content>
  </mat-card>
  
  <ng-template #noMatches>
    <mat-card>
      <mat-card-title>No more matches</mat-card-title>
    </mat-card>
  </ng-template>

  <div *ngIf="data.gridModel && data.gridModel.gridElements?.length > 0; else out" class="my-grid" [ngStyle]="data.gridModel.gridStyle">
    <div class="grid-cell"
      *ngFor="let cell of data.gridModel.gridElements"
      [ngStyle]="{ 'gridArea': cell.gridArea }"
      [ngClass]="{ 'win': cell.isWin, 'loss': cell.isLoss, 'out': cell.isOut }">
      <span *ngFor="let line of cell.lines">{{line}}</span>
    </div>
  </div>

  <ng-template #out>
    <h4>Out of tournament</h4>
  </ng-template>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
