<div *ngIf="data$ | async as data; else loading">
  <h2 style="width: 320px; text-align: center">{{data.participant.name}}</h2>

  <div *ngIf="data.role === 'admin'" class="centered-buttons">
    <mat-slide-toggle
      [checked]="data.participant.hasPaid"
      (change)="togglePaid(data, $event)">Paid</mat-slide-toggle>
  </div>

  <div *ngIf="data.gridModel" class="my-grid" [ngStyle]="data.gridModel.gridStyle">
    <div class="grid-cell"
      *ngFor="let cell of data.gridModel.gridElements"
      [ngStyle]="{ 'gridArea': cell.gridArea }"
      [ngClass]="{ 'win': cell.isWin, 'loss': cell.isLoss }">
      <span *ngFor="let line of cell.lines">{{line}}</span>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
