<div *ngIf="data$ | async as data; else loading">
  <!-- <app-tournament-menu [tournamentId]="data.tournamentId"></app-tournament-menu> -->
  <h1 class="loading"> 
    <button mat-button [matMenuTriggerFor]="menu" style="position: relative; float: left; top: 0; left: 0; z-index: 1000; background-color: white; font-size: 1.5em;">
    <span style="color: blue; font-size:large;">Menu</span>
    <div *ngIf="data.auth.photoURL" style="display: inline-block; width: 24px; margin-left: 5px; border-radius: 50%;">
      <img *ngIf="data.auth.photoURL" [src]="data.auth.photoURL" style="width: 24px; border-radius: 50%;">
    </div>
  </button>
  <mat-menu #menu>
    <button mat-menu-item (click)="router.navigate(['tournaments', data.tournamentId])">Bracket</button>
    <button mat-menu-item (click)="router.navigate(['tournaments', data.tournamentId, 'matches'])">Matches</button>
    <button mat-menu-item (click)="router.navigate(['tournaments', data.tournamentId, 'participants'])">Participants</button>
    <button mat-menu-item *ngIf="!data.auth.name" (click)="signIn()">Sign In</button>
    <button mat-menu-item *ngIf="data.auth.name" (click)="signOut()">Sign Out</button>
    <button mat-menu-item *ngIf="data.role === 'admin'" (click)="router.navigate(['tournaments', data.tournamentId, 'admin'])">&lt;--Admin--&gt;</button>
  </mat-menu>
{{data.vm.tournament.name}}</h1>
  <router-outlet></router-outlet>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<!-- facebook comments -->
<div id="comments" *ngIf="location$ | async as location" class="fb-comments" [attr.data-href]="location" data-width="" data-numposts="5"></div>

<!-- simply some padding at the bottom -->
<div style="height: 20px">&nbsp;</div>