<div *ngIf="data$ | async as data; else loading">
  <h2 *ngIf="data.some.length === 0" style="margin-left: 20px">
    All matches have finished!
  </h2>

  <h2 style="width: 320px; text-align: center">Matches</h2>

  <mat-card *ngFor="let match of data.some" (click)="openMatch(data, match)">
    <mat-card-title>{{match.model.timeString}} - Match {{match.model.matchName}}</mat-card-title>
    <mat-card-content>{{match.model.displayText}}</mat-card-content>
  </mat-card>

  <mat-card *ngIf="!showMore && data.more.length > 0">
    <mat-card-content class="actions" (click)="clickShowMore(data)">
      <span>show more</span>
    </mat-card-content>
  </mat-card>

  <mat-card *ngFor="let match of showMore ? data.more : []" (click)="openMatch(data, match)">
    <mat-card-title>{{match.model.timeString}} - Match {{match.model.matchName}}</mat-card-title>
    <mat-card-content>{{match.model.displayText}}</mat-card-content>
  </mat-card>

  <mat-card *ngIf="!showPlayed && data.played.length > 0">
    <mat-card-content class="actions" (click)="clickShowPlayed(data)">
      <span>show played</span>
    </mat-card-content>
  </mat-card>

  <mat-card *ngFor=" let match of showPlayed ? data.played : []" class="done" (click)="openMatch(data, match)">
    <mat-card-title>{{match.model.timeString}} - Match {{match.model.matchName}}</mat-card-title>
    <mat-card-content> <span>{{match.model.winnerName}}</span>
      &nbsp;<em>won vs.</em>&nbsp;
      <span>{{match.model.loserName}}</span>
    </mat-card-content>
  </mat-card>

</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>