<div *ngIf="data$ | async as data; else loading">
  <h2 *ngIf="data.some.length === 0" style="margin-left: 20px">
    All matches have finished!
  </h2>

  <ol>
    <!-- some -->
    <li *ngFor="let match of data.some" class="match" (click)="openMatch(data, match)">
      <div class="header">
        <div class="time">{{match.model.timeString}} - Match {{match.model.matchName}}</div>
      </div>
      <div class="vs">
        <div class="participants">
          <div *ngFor="let name of match.model.participants1">
            {{name}}
          </div>
        </div>
        <div class="separator" style="margin-left: 10px;">vs.</div>
        <div class="participants">
          <div *ngFor="let name of match.model.participants2">
            {{name}}
          </div>
        </div>
      </div>
    </li>

    <li *ngIf="!showMore && data.more.length > 0" class="link" (click)="clickShowMore(data)">
      show more
    </li>

    <!-- more -->
    <li *ngFor="let match of showMore ? data.more : []" class="match" (click)="openMatch(data, match)">
      <div class="header">
        <div class="time">{{match.model.timeString}} - Match {{match.model.matchName}}</div>
      </div>
      <div class="vs">
        <div class="participants">
          <div *ngFor="let name of match.model.participants1">
            {{name}}
          </div>
        </div>
        <div class="separator" style="margin-left: 10px;">vs.</div>
        <div class="participants">
          <div *ngFor="let name of match.model.participants2">
            {{name}}
          </div>
        </div>
      </div>
    </li>

    <li *ngIf="!showPlayed && data.played.length > 0" class="link" (click)="clickShowPlayed(data)">
      show played
    </li>

    <!-- played -->
    <li *ngFor="let match of showPlayed ? data.played : []" class="match finished" (click)="openMatch(data, match)">
      <div class="header">
        <div class="time">{{match.model.timeString}} - Match {{match.model.matchName}}</div>
      </div>
      <div class="vs">
        <span>{{match.model.winnerName}}</span>
        <em>won vs.</em>
        <span>{{match.model.loserName}}</span>
      </div>
    </li>
  </ol>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>