//$nav-background: #101830;
$nav-background: red;
$nav-background-hover: lighten($nav-background, 20%);
$nav-foreground: lighten($nav-background, 90%);
$nav-foreground-hover: lighten($nav-background, 70%);
