/* You can add global styles to this file, and also import other style files */

@use "_variables" as *;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nav-main {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 280px;
  min-height: 800px;
  background-color: $nav-background;
  color: $nav-color;

  .nav-item {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    user-select: none;
    img {
      height: 30px;
    }
  
    .nav-item-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      margin-right: 10px;
    }
  }
  
  .nav-item-action {
    &:hover {
      background-color: $nav-background-hover;
      color: $nav-color-hover;
    }
  }
}

