@use "_variables" as *;

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tournament-primary: mat.define-palette(mat.$indigo-palette);
$tournament-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tournament-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tournament-theme: mat.define-light-theme(
  (
    color: (
      primary: $tournament-primary,
      accent: $tournament-accent,
      warn: $tournament-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tournament-theme);

// done with themes

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nav-main {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 280px;
  min-height: 800px;
  background-color: $nav-background;
  color: $nav-color;

  .nav-item {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    user-select: none;
    img {
      height: 30px;
    }

    .nav-item-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      margin-right: 10px;
    }
  }

  .nav-item-action {
    &:hover {
      background-color: $nav-background-hover;
      color: $nav-color-hover;
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card.mat-card {
  width: 300px;
  user-select: none;
  cursor: pointer;
  background-color: $card-background;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;

  &.done {
    background-color: white;
  }

  mat-card-title.mat-card-title {
    font-size: 14px;
    margin-bottom: 4px;

    span.extra {
      font-size: 0.75em;
      float: right;
    }
  }

  mat-card-subtitle.mat-card-subtitle {
    margin-bottom: 5px;
  }
}
